body {
    background-color: #e0eeff;
    background-repeat: no-repeat;
    background-size: cover;

}

.carousel-inner > .carousel-item > img {
   width: 500px !important;
    height: auto;
    border-radius: 15px !important;
    margin: auto;
 }
.img{
    height: auto;
    width: auto;
    border-radius: 15px !important;
}
.titulo{
    display: flex;
    justify-content: center;
}
